


.card-wrapper{
  width: 1000px;
  margin:auto;
  font-size: 0;
  padding: 0;

  &__card{
    width: 230px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 16px;


    img{
        width: 100%;
    }
  }

  &__content{
    padding: 10px;
  }

}