@font-face {
  font-family: "circular-pro";
  src: url("../assets/fonts/circular-pro-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "circular-pro";
  src: url("../assets/fonts/circular-pro-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larsseit";
  src: url("../assets/fonts/larsseit-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "larsseit";
  src: url("../assets/fonts/larsseit-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

