.keyboard{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  &__key{
    width: 12vw;
    height: 12vw;
    background-color: red;
  }

  &__space{
    width: 60vw;
    height: 12vw;
    background-color: orange;
  }
}