.keyboard{
  display: flex;
  flex-flow: wrap;
  justify-content: center;

  #active-student-information{
    width: 100%;
    text-align: center;
  };
  
  &__key{
    width: calc(8vw - 6px);
    height:  calc(8vw - 6px);
    margin: 3px;
    background-color: red;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    justify-content: flex-end;
    align-content: end;
    border: none;
    &:nth-child(24n + 14){
      margin-left: 4vw;
    }
    &--pressed{
      transform: scale(0.95);
    }
  }

  &__space{
    width: 60vw;
    height: calc(8vw - 6px);
    display: flex;
    border-radius: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: orange;
  }
}