/* font-family: 'Share Tech Mono', monospace;
font-family: 'VT323', monospace; */
.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Share Tech Mono", monospace;
}

.signup__top-box {
  height: 4rem;
  width: 20rem;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #4666ff, 0 0 82px #4666ff, 0 0 20px #4666ff, 0 0 30px #4666ff, 0 0 40px #4666ff, inset 0 0 50px #4666ff;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #4666ff, 0 0 82px #4666ff, 0 0 20px #4666ff, 0 0 30px #4666ff, 0 0 40px #4666ff, inset 0 0 50px #4666ff;
  margin: 10px;
  border-radius: 0.5rem;
}

.signup__top-box > p {
  text-align: center;
  font-size: 2rem;
}

.signup__middle-box-outer {
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #4666ff, 0 0 82px #4666ff, 0 0 20px #4666ff, 0 0 30px #4666ff, 0 0 40px #4666ff, inset 0 0 50px #4666ff;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #4666ff, 0 0 82px #4666ff, 0 0 20px #4666ff, 0 0 30px #4666ff, 0 0 40px #4666ff, inset 0 0 50px #4666ff;
  border-radius: 0.5rem;
}

.signup__middle-box-outer {
  height: 20rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__middle-box-inner {
  height: 17rem;
  width: 17rem;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
  border-radius: 1rem;
  color: #0fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 30px #f72119, 0 0 40px #f72119;
  text-align: center;
  margin: 15px;
}

.signup__controller-container {
  width: 23rem;
  height: 10rem;
  border-radius: 0.5rem;
  -webkit-transform: perspective(10px) rotateX(1deg);
          transform: perspective(10px) rotateX(1deg);
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
  color: #0fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.red-button-top {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
}

.green-button-top {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #0fa, 0 0 82px #0fa, 0 0 20px #0fa, 0 0 30px #0fa, 0 0 40px #0fa, inset 0 0 50px #0fa;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #0fa, 0 0 82px #0fa, 0 0 20px #0fa, 0 0 30px #0fa, 0 0 40px #0fa, inset 0 0 50px #0fa;
}

.controller-knob {
  background-color: #f72119;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
}

.controller-stick {
  position: absolute;
  height: 5rem;
  width: 0.5rem;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #0fa, 0 0 82px #0fa, 0 0 20px #0fa, 0 0 30px #0fa, 0 0 40px #0fa, inset 0 0 50px #0fa;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #0fa, 0 0 82px #0fa, 0 0 20px #0fa, 0 0 30px #0fa, 0 0 40px #0fa, inset 0 0 50px #0fa;
  -webkit-transform: translate(-200%, -60%) rotate(30deg);
          transform: translate(-200%, -60%) rotate(30deg);
}

.controller-knob {
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(-20%, -200%);
          transform: translate(-20%, -200%);
}
/*# sourceMappingURL=signup.css.map */