@font-face {
  font-family: "circular-pro";
  src: url("../assets/fonts/circular-pro-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "circular-pro";
  src: url("../assets/fonts/circular-pro-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larsseit";
  src: url("../assets/fonts/larsseit-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "larsseit";
  src: url("../assets/fonts/larsseit-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "circular-pro";
  src: url("../assets/fonts/circular-pro-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "circular-pro";
  src: url("../assets/fonts/circular-pro-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larsseit";
  src: url("../assets/fonts/larsseit-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "larsseit";
  src: url("../assets/fonts/larsseit-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

.text-align-center {
  text-align: center;
}

.keyboard-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboard-wrapper svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.keyboard-wrapper #dotted-path {
  stroke-dasharray: 4 39;
}

.keyboard-wrapper #active-student-information {
  width: 50%;
  height: 50vh;
  background-color: red;
  text-align: center;
}

.keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyboard__key {
  width: calc(8vw - 6px);
  height: calc(8vw - 6px);
  margin: 3px;
  background-color: red;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: 98% 98%;
  border: 1px solid #7A17F8;
  font-size: 1.5em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: end;
  opacity: 0.6;
  -webkit-filter: grayscale(0.94) hue-rotate(308deg) contrast(2.2) saturate(1.5) brightness(0.7) blur(0.4px) url("#squiggly-4");
          filter: grayscale(0.94) hue-rotate(308deg) contrast(2.2) saturate(1.5) brightness(0.7) blur(0.4px) url("#squiggly-4");
}

.keyboard__key:nth-child(24n + 13) {
  margin-left: 4vw;
}

.keyboard__key--pressed {
  -webkit-filter: hue-rotate(244deg) contrast(1.5) saturate(1.5) blur(0.4px) url("#red-sunset-with-purple") grayscale(0.31) brightness(1);
          filter: hue-rotate(244deg) contrast(1.5) saturate(1.5) blur(0.4px) url("#red-sunset-with-purple") grayscale(0.31) brightness(1);
  -webkit-filter: drop-shadow(0px 0px 11px #8FF8FF);
          filter: drop-shadow(0px 0px 11px #8FF8FF);
  opacity: 1;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.keyboard__space {
  width: 60vw;
  height: calc(8vw - 6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: orange;
}

/* Blue neon, class .neonlight--blue works when placed on the <svg> element only. */
.neonlight--blue {
  -webkit-filter: drop-shadow(0 0 3px #58d9ff);
  filter: drop-shadow(0 0 3px #58d9ff);
}

.neonlight--blue path {
  fill: #58d9ff;
  stroke: #2944E6;
  stroke-width: 0.2px;
}

.neonlight--blue line {
  stroke: #58d9ff;
}

/* Pink neon, class .neonlight--pink works when placed on the <svg> element only. */
.neonlight--pink {
  -webkit-filter: drop-shadow(0 0 3px #FF93FF);
  filter: drop-shadow(0 0 3px #FF93FF);
}

.neonlight--pink path {
  fill: #FF38D5;
  stroke: #EA15AF;
  stroke-width: 0.2px;
}

.neonlight--pink line {
  stroke: #FF38D5;
}

.neonlight--pink circle {
  fill: #FF38D5;
}

/* Yellow neon, class .neonlight--yellow works when placed on the <svg> element only. */
.neonlight--yellow {
  -webkit-filter: drop-shadow(0 0 3px #FFFF8C);
  filter: drop-shadow(0 0 3px #FFFF8C);
}

.neonlight--yellow path {
  fill: #FFC828;
  stroke: #D09208;
  stroke-width: 0.2px;
}

.neonlight--yellow line {
  stroke: #FFC828;
}

/* Light blue neon with blue shadow, class .neonlight--darkblue works when placed on the <svg> element only. */
.neonlight--darkblue {
  -webkit-filter: drop-shadow(0 0 3px #2944E6);
  filter: drop-shadow(0 0 3px #2944E6);
}

.neonlight--darkblue path {
  fill: #58d9ff;
  stroke: #2944E6;
  stroke-width: 0.2px;
}

/* Neon animation */
@-webkit-keyframes flicker {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0.4;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 0.4;
  }
  8% {
    opacity: 1;
  }
  9% {
    opacity: 0.4;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0.4;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 0.4;
  }
  8% {
    opacity: 1;
  }
  9% {
    opacity: 0.4;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.flicker-animation--3s {
  -webkit-animation: flicker linear infinite 3s;
          animation: flicker linear infinite 3s;
}

.flicker-animation--2s {
  -webkit-animation: flicker linear infinite 2s;
          animation: flicker linear infinite 2s;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "circular-pro";
  color: #1d1d1d;
  font-size: 16px;
  background: #00002b;
  background: -webkit-gradient(linear, left top, left bottom, from(#00002b), color-stop(54%, #48098e), to(#111224));
  background: linear-gradient(180deg, #00002b 0%, #48098e 54%, #111224 100%);
}

body {
  background-color: #fff;
  font-size: 14px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#dotted-path-top {
  padding: 10vmin 0;
  width: 100vmax;
  overflow: hidden;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}
/*# sourceMappingURL=style.css.map */