@import 'variables.scss', 'fonts.scss', 'helpclasses.scss', 'keyboard.scss';

body, html {
  height: 100%;
  margin: 0;
  font-family: $font-family; 
  color: $primary-color;
  font-size: 16px;
  background: rgb(0,0,43);
  background: linear-gradient(180deg, rgba(0,0,43,1) 0%, rgba(72,9,142,1) 54%, rgba(17,18,36,1) 100%);
}

body {
  background-color: #fff;
  font-size: 14px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}