/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */

body,html{
 min-height: 100%;
 height: 100%;
 margin: 0;
}

body {
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

nav{
 padding: 10px;
}

main{
 max-width: 800px;
 margin: auto;
 padding-top: 50px;
 padding-bottom: 50px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 30px;
}
p{
  line-height: 2em;
}
/* Applies to all elements with <... class="active"> specified. */
.active{
  background-color: red;
  color: white;
}