@import 'variables.scss', 'fonts.scss', 'helpclasses.scss';

body, html {
  height: 100%;
  margin: 0;
  font-family: $font-family; 
  color: $primary-color;
  font-size: 16px;
}

body {
  background-color: #fff;
  font-size: 14px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}