@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap");
@font-face {
  font-family: "circular-pro";
  src: url("../assets/fonts/circular-pro-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "circular-pro";
  src: url("../assets/fonts/circular-pro-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larsseit";
  src: url("../assets/fonts/larsseit-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "larsseit";
  src: url("../assets/fonts/larsseit-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "circular-pro";
  src: url("../assets/fonts/circular-pro-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "circular-pro";
  src: url("../assets/fonts/circular-pro-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "larsseit";
  src: url("../assets/fonts/larsseit-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "larsseit";
  src: url("../assets/fonts/larsseit-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

.text-align-center {
  text-align: center;
}

.keyboard-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyboard-wrapper svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.keyboard-wrapper #dotted-path {
  stroke-dasharray: 4 39;
}

.keyboard-wrapper #active-student-information {
  width: 50%;
  height: 50vh;
  background-color: red;
  text-align: center;
}

.keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyboard__key {
  width: calc(8vw - 6px);
  height: calc(8vw - 6px);
  margin: 3px;
  background-color: red;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: 98% 98%;
  border: 1px solid #7A17F8;
  font-size: 1.5em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: end;
  opacity: 0.6;
  -webkit-filter: grayscale(0.94) hue-rotate(308deg) contrast(2.2) saturate(1.5) brightness(0.7) blur(0.4px) url("#squiggly-4");
          filter: grayscale(0.94) hue-rotate(308deg) contrast(2.2) saturate(1.5) brightness(0.7) blur(0.4px) url("#squiggly-4");
}

.keyboard__key:nth-child(24n + 13) {
  margin-left: 4vw;
}

.keyboard__key--pressed {
  -webkit-filter: hue-rotate(244deg) contrast(1.5) saturate(1.5) blur(0.4px) url("#red-sunset-with-purple") grayscale(0.31) brightness(1);
          filter: hue-rotate(244deg) contrast(1.5) saturate(1.5) blur(0.4px) url("#red-sunset-with-purple") grayscale(0.31) brightness(1);
  -webkit-filter: drop-shadow(0px 0px 11px #8FF8FF);
          filter: drop-shadow(0px 0px 11px #8FF8FF);
  opacity: 1;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.keyboard__space {
  width: 60vw;
  height: calc(8vw - 6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: orange;
}

/* font-family: 'Share Tech Mono', monospace;
font-family: 'VT323', monospace; */
.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'VT323', monospace;
}

.signup__top-box {
  height: 4rem;
  width: 20rem;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #4666ff, 0 0 82px #4666ff, 0 0 20px #4666ff, 0 0 30px #4666ff, 0 0 40px #4666ff, inset 0 0 50px #4666ff;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #4666ff, 0 0 82px #4666ff, 0 0 20px #4666ff, 0 0 30px #4666ff, 0 0 40px #4666ff, inset 0 0 50px #4666ff;
  margin: 10px;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup__top-box > p {
  color: orange;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.signup__middle-box-outer {
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #4666ff, 0 0 82px #4666ff, 0 0 20px #4666ff, 0 0 30px #4666ff, 0 0 40px #4666ff, inset 0 0 50px #4666ff;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #4666ff, 0 0 82px #4666ff, 0 0 20px #4666ff, 0 0 30px #4666ff, 0 0 40px #4666ff, inset 0 0 50px #4666ff;
  border-radius: 0.5rem;
}

.signup__middle-box-outer {
  height: 20rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__middle-box-inner {
  height: 17rem;
  width: 17rem;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
  border-radius: 1rem;
  color: #0fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__middle-box-inner > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup__middle-box-inner > form > input {
  margin-bottom: 10px;
  border-radius: 1rem;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 30px #f72119, 0 0 40px #f72119;
}

.signup__controller-container {
  width: 23rem;
  height: 10rem;
  border-radius: 0.5rem;
  -webkit-transform: perspective(10px) rotateX(1deg);
          transform: perspective(10px) rotateX(1deg);
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
  color: #0fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.red-button-top {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
}

.green-button-top {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #0fa, 0 0 82px #0fa, 0 0 20px #0fa, 0 0 30px #0fa, 0 0 40px #0fa, inset 0 0 50px #0fa;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #0fa, 0 0 82px #0fa, 0 0 20px #0fa, 0 0 30px #0fa, 0 0 40px #0fa, inset 0 0 50px #0fa;
}

.controller-knob {
  background-color: #f72119;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #f72119, 0 0 82px #f72119, 0 0 20px #f72119, 0 0 30px #f72119, 0 0 40px #f72119, inset 0 0 50px #f72119;
}

.controller-stick {
  position: absolute;
  height: 5rem;
  width: 0.5rem;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #0fa, 0 0 82px #0fa, 0 0 20px #0fa, 0 0 30px #0fa, 0 0 40px #0fa, inset 0 0 50px #0fa;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #0fa, 0 0 82px #0fa, 0 0 20px #0fa, 0 0 30px #0fa, 0 0 40px #0fa, inset 0 0 50px #0fa;
  -webkit-transform: translate(-200%, -60%) rotate(30deg);
          transform: translate(-200%, -60%) rotate(30deg);
}

.controller-knob {
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(-20%, -200%);
          transform: translate(-20%, -200%);
}

.neon-button {
  margin: 1rem;
  border: 0;
  -webkit-box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #4666ff, 0 0 8px #4666ff, 0 0 10px #4666ff, 0 0 10px #4666ff, 0 0 10px #4666ff;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #4666ff, 0 0 8px #4666ff, 0 0 10px #4666ff, 0 0 10px #4666ff, 0 0 10px #4666ff;
  padding: 0.5rem;
  border-radius: 10%;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "circular-pro";
  color: #1d1d1d;
  font-size: 16px;
  background: #00002b;
  background: -webkit-gradient(linear, left top, left bottom, from(#00002b), color-stop(54%, #48098e), to(#111224));
  background: linear-gradient(180deg, #00002b 0%, #48098e 54%, #111224 100%);
}

body {
  background-color: #fff;
  font-size: 14px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}
/*# sourceMappingURL=style.css.map */